<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CV - Raphael Soupaya Valliama</title>
        <link rel="stylesheet" href="../static/styles.css">
        

    </head>

    <body>

        <div id="container1">

            <div id="en-tete">

                <h1> Raphael <span id="nom"> Soupaya Valliama </span></h1>
                <p> SOFTWARE ENGINEER</p>

                <div id="top10">
                    <img src="../images/top10.png" alt="Top 10"> <p> 100% Recommended </p>
                </div>
                <p class="disponibilite"> Next season begin on 20th May 2024 <span class="grisé"> (open for work) </span> </p> 
                
            </div>
            <img id="pdp" src="../images/tete-removebg.png" alt="Photo de profil">
        </div>
        
        <div id="container2">

            <div id="colonne-gauche">

                <h1 class="categorie-gauche"> SYNOPSIS </h1>
                <p class="texte-gauche">  </p>



            </div>

            <div id="colonne-droite">

                <h1 class="categorie-droite"> EXPERIENCES </h1>


            </div>
        </div>
        
    </body>
</html>