<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CV - Raphael Soupaya Valliama</title>
        <link rel="stylesheet" href="../static/styles.css">
        

    </head>

    <body>

        <div id="container">

            <div id="en-tete">

                <h1> Raphael <span id="nom"> Soupaya Valliama </span></h1>

            </div>

        </div>
        
        
    </body>
</html>