<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CV - Raphael Soupaya Valliama</title>
        <link rel="stylesheet" href="../static/styles.css">
        

    </head>

    <body>

        <div id="container1">

            <div id="en-tete">

                <h1> Raphael <span id="nom"> Soupaya Valliama </span></h1>
                <p> SOFTWARE ENGINEER</p>

                <div id="top10">
                    <img src="../images/top10.png" alt="Top 10"> <p> 100% Recommended </p>
                </div>
                <p class="disponibilite"> Next season begin on 20th May 2024 <span class="grisé"> (open for work) </span> </p> 
                
            </div>
            <img id="pdp" src="../images/tete-removebg.png" alt="Photo de profil">
        </div>
        
        <div id="container2">

            <div id="colonne-gauche">

                <h1 class="categorie-gauche"> SYNOPSIS </h1>
                <p class="texte-gauche"> 
                    Always have been a huge IT enthusiastic.<br> 
                    In particular in AI and Data Analysis. <br>
                    I reckon those as the fundation of tomorrow. <br> 
                    That is why i want to dedicate myself <br> 
                    to do R&D in those area.
                </p>

                <h1 class="categorie-gauche"> FORMATION </h1>

                <div class="element">
                    <h4 class="titre-gauche">Esiroi / 2021 - Current</h4>
                    <p class="texte-gauche"> First year engineering student specializing in IT</p>
                </div>

                <div class="element">
                    <h4 class="titre-gauche">Lycée Lislet Geoffroy / 2017-2020</h4>
                    <p class="texte-gauche"> BAC-S in engineering science with ISN option (computer science, digital science)</p>
                </div>



            </div>

            <div id="colonne-droite">
                <h1 class="categorie-droite"> EXPERIENCES </h1>

                <div class="element">
                    <h3> MARIO AI / 2023 </h3>
                    <h4> Esiroi / Saint Pierre</h4>
                    <p class="texte-droite"> Reinforcement training of an AI to play the first level of mario bros (1983)</p>
                </div>
                
                <div class="element">
                    <h3> WORKER INTERNSHIP / 2022 </h3>
                    <h4>Sodexpro / Le Port</h4>
                    <p class="texte-droite"> Monitoring and management of computer network equipment</p>
                </div>

                
            </div>
        </div>
        
    </body>
</html>