
      $bg-color: #000000;
      $text-color: #ffffff;
      $special-color: #564d4d;
      $h1-color: #ffffff;
      $h3-color: #ffffff;
      $h4-color: #ff0000;
      $button-color: #ff0000;
      $title-font: Lucida;
      $text-font: Helvetica;
      