// Variables réutilisables
$bg-color : black;
$gray_txt : #564d4d;
$white_txt : white;
$red_txt : red;
$font : Helvetica;
$ligne : 2px solid #564d4d;
$text-size : 14px;
$titre-size : 25px;
$h3-size : 15px;
$titre-font : Lucida;


// Style pour les containers : 

@mixin container {
  display: flex;
  align-items: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: $ligne;
}


body {
  background-color: $bg-color;
  }


#container1 {
  @include container;
}

#en-tete {
  flex:1; // Prend tout l'espace disponible du div
}

#top10 {
  display : flex;
  align-items: center;
  justify-content: flex-start;
}

#top10 img {
  width: 5%;
  height: auto;
}

#top10 p {
  margin-left: 5px; 
  color : #60a471;
  font-family: $font;
  font-style: bold;
}

#en-tete h1, p {
  color : $gray_txt;
  font-family: $font;
}

#pdp {
  width: 30%;
}

.disponibilite {
  color : $white_txt;
  font-family: $font;
}

#nom {
  color : $white_txt;
}

.grisé {
  color : $gray_txt;
}


#container2 {
  @include container;
  border-bottom: none;
}

#colonne-gauche, #colonne-droite {
  flex: 1; 
  padding: 20px;
}


#colonne-gauche {
  color: $white_txt; 
  margin-right: 10px; 
  font-family: $titre-font;
}

#colonne-droite {
  color: $white_txt; 
  margin-left: 10px; 
  font-family: $titre-font;
}

.categorie-gauche {
  text-align: right;
  font-size: $titre-size;
}

.categorie-droite {
  text-align: left;
  font-size: $titre-size;
}

@mixin texte-param {
  color : $white_txt;
  font-family: $font;
  font-size: $text-size;
}

@mixin title {
  font-size: $h3-size;
  font-family: $font;
}

.texte-gauche {
  text-align: right;
  @include texte-param;
  margin-top: 0;
  margin-bottom: 10%;
}

.texte-droite {
  @include texte-param;
  margin-top: 0;
}

h3 {
  @include title;
  margin-bottom: 0;
  margin-top: 5%;
}

h4 {
  color : $red_txt;
  @include title;
  margin-top: 0;
  margin-bottom: 0;
}

.element {
  margin-bottom: 5%;
}

.titre-gauche {
  text-align: right;
  margin-bottom: 0;
}

.checked {
  color : $red_txt;
}

.interet {
  @include texte-param;
  text-align: right;
  margin-bottom: 7%;
  margin-top: 0
}

#esilien {
  @include texte-param;
  float : right;
}

ul {
  padding-left: 0;
}

li {
  margin-left: 60%;
}

#container3 {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: $ligne;
}

.categorie-bas {
  text-align: center;
  font-size: $titre-size;
  color : $white_txt;
}

#contact {
  display: flex;
  align-items: center;
  flex: 1;
}

.texte-bas {
  margin-right: 15%;
  font-family: $font;
  color: $red_txt;
  font-size: $text-size;

}

.bloc {
  margin-bottom: 10%;
}