@charset "UTF-8";
body {
  background-color: black;
}

#container1 {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #564d4d;
}

#en-tete {
  flex: 1;
}

#top10 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2%;
}

#top10 img {
  width: 5%;
}

#top10 p {
  margin-left: 5px;
  color: #60a471;
  font-family: Helvetica;
  font-style: bold;
  margin-bottom: 0;
}

#en-tete h1 {
  color: #564d4d;
  font-family: Helvetica;
  margin-bottom: 0;
}

#en-tete, p {
  color: #564d4d;
  font-family: Helvetica;
  margin-top: 0;
}

#pdp {
  width: 25%;
}

.disponibilite {
  color: white;
  font-family: Helvetica;
  margin-bottom: 2%;
}

#nom {
  color: white;
}

.grisé {
  color: #564d4d;
}

#container2 {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #564d4d;
}

#colonne-gauche, #colonne-droite {
  flex: 1;
  align-self: stretch;
  padding: 20px;
  padding-top: 0;
}

#colonne-gauche {
  color: white;
  margin-right: 5%;
  font-family: Lucida;
}

#colonne-droite {
  color: white;
  margin-left: 5%;
  font-family: Lucida;
}

.categorie-gauche {
  text-align: right;
  font-size: 10vw;
  margin-bottom: 2%;
}

.categorie-droite {
  text-align: left;
  font-size: 10vw;
  margin-bottom: 2%;
}

.texte-gauche {
  text-align: right;
  color: white;
  font-family: Helvetica;
  font-size: 7vw;
  margin-top: 0;
  margin-bottom: 10%;
}

.texte-droite {
  color: white;
  font-family: Helvetica;
  font-size: 7vw;
  margin-top: 0;
}

h3 {
  font-size: 9vw;
  font-family: Helvetica;
  margin-bottom: 0;
  margin-top: 5%;
  display: inline-block;
}

h4 {
  color: red;
  font-size: 9vw;
  font-family: Helvetica;
  margin-top: 0;
  margin-bottom: 0;
}

.element {
  margin-bottom: 0;
}

.titre-gauche {
  text-align: right;
  margin-bottom: 0;
}

.checked {
  color: red;
}

.interet {
  color: white;
  font-family: Helvetica;
  font-size: 7vw;
  text-align: right;
  margin-bottom: 4%;
  margin-top: 0;
  margin-left: 55%;
}

.expertise {
  color: white;
  font-family: Helvetica;
  font-size: 7vw;
  text-align: left;
  margin-bottom: 4%;
  margin-top: 0;
  margin-left: 5%;
}

#esilien {
  color: white;
  font-family: Helvetica;
  font-size: 7vw;
  float: right;
}

ul {
  padding-left: 0;
}

#container3 {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.categorie-bas {
  text-align: center;
  font-size: 10vw;
  color: white;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.texte-bas {
  font-family: Helvetica;
  color: red;
  font-size: 7vw;
}

.bloc {
  margin-bottom: 13%;
  margin-top: 0;
}

.button {
  padding: 10px 20px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 7vw;
  font-family: Helvetica;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-lecture {
  background-color: white;
  font-family: Helvetica;
}

.button-lecture:hover {
  background-color: #555;
}

.button-plus-infos {
  background-color: #7f7f7f;
  font-family: Helvetica;
  margin-left: 1%;
  color: white;
}

.button-plus-infos:hover {
  background-color: #999;
}

.button-container {
  margin-top: 2%;
}/*# sourceMappingURL=styles.css.map */