body {
    background-color: black;
  }
  h1 {
    color: rgb(229 9 20);
  }
  p {
    color: white;
  }

  pre {
    color: white;
  }

  i {
    color: white;
  }

  em {
    color: white;
  }

  blockquote {
    color: white;
  }

  h2 {
    color: white;
  }