<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/styles.css">
<body>
    <div class="amdin-form">
        <h1 id="admin-titre">Administration</h1>

        <form action="/update-cv" method="post">

            <div class="change-name">

            </div>

            <div class="change-photo">
                
            </div>

            <div class="change-synopsis">
                
            </div>

            <div class="change-experience">
                
            </div>

            <div class="change-education">
                
            </div>

            <div class="change-interest">
                
            </div>

            <div class="change-skills">
                
            </div>

            <div class="change-expertise">
                
            </div>

            <div class="change-certificates">
                
            </div>

            <div class="change-contacts">
                
            </div>

            <button type="submit">Mettre à jour le CV</button>
        </form>
    </div>
    
    
</body>
</html>
