<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CV - Raphael Soupaya Valliama</title>

        <!-- <link id="theme" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}"> -->
        <link id="theme" rel="stylesheet" type="text/css" href="/styles.css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="/script.js"></script>
        
    </head>

    <body>

        <div id="login">
            <a href="/login" target="_blank">
                <button class="button button-login">login</button>
            </a>       
        </div>

        <div id="container1">


            <div id="en-tete">

                <div class="button-container">
                    <!-- <audio id="song"  src="{{ url_for('static', filename='/images/music.mp3')}}" type="audio/mp3"></audio> -->
                    <audio id="song"  src="/images/music.mp3" type="audio/mp3"></audio>

                    <button class="button button-lecture">Lecture</button>
                    <a href="https://www.linkedin.com/in/raphael-soupaya-valliama-928a32289/" class="button button-plus-infos" target="_blank">More infos</a>
                </div>

                <h1 class="name"> Raphael <span id="nom"> Soupaya Valliama </span></h1>
                <p class="rainbow position"> AI ENGINEER STUDENT </p>

                <div id="top10">
                    <!-- <img src="{{ url_for('static', filename='/images/top10.png')}}" alt="Top 10"> <p class="rainbow"> 100% Recommended </p> -->
                    <img src="/images/top10.png" alt="Top 10"> <p class="rainbow"> 100% Recommended </p> 
                </div>
                <p class="disponibilite"> Next season begins on 20th May 2024 <span class="grisé"> (open for work) </span> </p> 
                
            </div>
            <!-- <img id="pdp" src="{{ url_for('static', filename='/images/tete-removebg.png')}}" alt="Photo de profil"> -->
            <img id="pdp" src="/images/tete-removebg.png" alt="Photo de profil"> 

        </div>
        
        <div id="container2">

            <div id="colonne-gauche">
                <div class="bloc">
                    <h1 class="categorie-gauche rainbow"> SYNOPSIS </h1>
                    <p class="texte-gauche rainbow synopsis"> 
                        Always have been a huge IT enthusiastic. <br>
                        In particular in AI and Data Analysis. <br>
                        I reckon those as the fundation of tomorrow. <br>
                        That is why i want to dedicate myself
                        to do R&D in thoses areas.
                    </p>
                </div>
                
                <div class="bloc">
                    <h1 class="categorie-gauche rainbow"> EDUCATION </h1>

                    <div class="element">
                        <h4 class="titre-gauche rainbow">Esiroi / 2021 - Current</h4>
                        <p class="texte-gauche rainbow"> First year engineering student specializing in IT</p>
                    </div>

                    <div class="element">
                        <h4 class="titre-gauche rainbow">Lycée Lislet Geoffroy / 2017-2020</h4>
                        <p class="texte-gauche rainbow"> BAC-S in engineering science with ISN option (computer science, digital science)</p>
                    </div>
                </div>
                

                <div class="bloc">
                    <h1 class="categorie-gauche rainbow"> INTEREST </h1>

                    <div class="element">
                        <ul>
                            <li class="interet rainbow"> Computer Science </li>
                            <li class="interet rainbow"> Artificial Intelligence </li>
                            <li class="interet rainbow"> Game Theory </li>
                            <li class="interet rainbow"> Video Games </li>
                        </ul>
                        
                    </div>
                </div>
                

                <div class="bloc">
                    <h1 class="categorie-gauche rainbow"> CERTIFICATES </h1>
                    <div class="element">
                        <h4 class="titre-gauche rainbow">CNIL</h4>
                        <p class="texte-gauche rainbow"> Data protection awareness </p>
                    </div>

                    <div class="element">
                        <h4 class="titre-gauche rainbow"> ANSSI </h4>
                        <p class="texte-gauche rainbow"> Introduction to cybersecurity knowledge</p>
                    </div>

                    <div class="element">
                        <h4 class="titre-gauche rainbow"> CLES B2</h4>
                        <p class="texte-gauche rainbow"> English proficiency level </p>
                    </div>
                </div>
                



            </div>

            <div id="colonne-droite">

                <div class="bloc">
                    <h1 class="categorie-droite rainbow"> EXPERIENCES </h1>

                    <div class="element XP">
                        <h3 class="rainbow"> MARIO AI / 2023 </h3>
                        <h4 class="rainbow"> Esiroi / Saint Pierre</h4>
                        <p class="texte-droite rainbow"> Reinforcement training of an AI to play the first level of mario bros (1983)</p>
                    </div>
                    
                    <div class="element XP">
                        <h3 class="rainbow"> CASHIER / 2022 </h3>
                        <h4 class="rainbow"> E. Leclerc la Réserve / Sainte Marie</h4>
                        <p class="texte-droite rainbow"> Customer reception and fidelity</p>
                    </div>

                    <div class="element XP">
                        <h3 class="rainbow"> WORKER INTERNSHIP / 2022 </h3>
                        <h4 class="rainbow">Sodexpro / Le Port</h4>
                        <p class="texte-droite rainbow"> Monitoring and management of computer network equipment</p>
                    </div>
                </div>
                

                <div class="bloc">
                    <h1 class="categorie-droite rainbow"> SKILLS </h1>

                    <div class="element">
                        <h3 class="rainbow"> Python : </h3>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>

                        <br>

                        <h3 class="rainbow"> C : </h3>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>

                        <br>

                        <h3 class="rainbow"> Arduino : </h3>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>

                        <br>

                        <h3 class="rainbow"> Bash : </h3>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>

                        <br>

                        <h3 class="rainbow"> HTML - CSS - Javascript : </h3>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>

                    </div>
                </div>
                
                <div class="bloc">
                    <h1 class="categorie-droite rainbow"> EXPERTISE </h1>

                    <ul>
                        <li class="expertise rainbow"> Networking </li>
                        <li class="expertise rainbow"> Artificial Intelligence </li>
                        <li class="expertise rainbow"> Web Development </li>
                        <li class="expertise rainbow"> Data Science </li>
                        <li class="expertise rainbow"> IoT </li> 
                        <li class="expertise rainbow"> Cybersecurity </li>
                    </ul>
                </div>


                
            </div>

        </div>

        <div id="container3">
            <h1 class="categorie-bas rainbow"> CONTACTS </h1>

            <div id="contact">
                <p class="texte-bas rainbow"> 0693 87 90 48 </p>
                <a class="texte-bas rainbow" href="mailto:raphael.soupayavalliama@gmail.com?"> raphael.soupayavalliama@gmail.com </p>
                <a class="texte-bas rainbow" href="https://esiroi.univ-reunion.fr" target="_blank"> esiroi.univ-reunion.fr </p>
            </div>
        </div>
        
    </body>
</html>